<table class="table table-striped">
  <thead>
		<tr>
			<th>Наименование товара</th>
			<th>Количество</th>
		</tr>
	</thead>

	<tbody>
		
			<tr>
				<td>ola</td>
				<td>ola</td>
			</tr>
		
	</tbody>
</table>




